@import url('https://fonts.googleapis.com/css?family=Antic+Slab|Covered+By+Your+Grace');
h1, h2, a {
  font-family: 'Covered By Your Grace', cursive;;
  text-transform: uppercase;
}
p {
  font-family: 'Antic Slab', serif;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/*Header*/
.header {
  text-align: center;
  height: 500px;
}
.header .container {
  position: relative;
  top: 120px;
}
.header h1 {
  color: #202;
  margin: 0;
  font-size: 100px;
}
.header p {
  font-size: 20px;
  margin: 0 0 20px 0;
  font-weight: 600;
}

